In [1]:
#to get the top 10 actors and directors

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv(r"D:\Tableau\dash3\netflix_titles.csv")

In [3]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [4]:
df.cast

0                                                     NaN
1       Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...
2       Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...
3                                                     NaN
4       Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...
                              ...
8802    Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...
8803                                                  NaN
8804    Jesse Eisenberg, Woody Harrelson, Emma Stone, ...
8805    Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...
8806    Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...
Name: cast, Length: 8807, dtype: object

In [5]:
df['cast'].str.contains(r'\w+,\s*\w+').sum() # checking the number of rows having more one value

7098

In [6]:
df.director

0       Kirsten Johnson
1                   NaN
2       Julien Leclercq
3                   NaN
4                   NaN
             ...
8802      David Fincher
8803                NaN
8804    Ruben Fleischer
8805       Peter Hewitt
8806        Mozez Singh
Name: director, Length: 8807, dtype: object

In [7]:
df['director'].str.contains(r'\w+,\s*\w+').sum() # checking the number of rows having more one value

613

In [8]:
df.country

0       United States
1        South Africa
2                 NaN
3                 NaN
4               India
            ...
8802    United States
8803              NaN
8804    United States
8805    United States
8806            India
Name: country, Length: 8807, dtype: object

In [9]:
df['country'].str.contains(r'\w+,\s*\w+').sum() # checking the number of rows having more one value

1315

In [10]:
df.listed_in

0                                           Documentaries
1         International TV Shows, TV Dramas, TV Mysteries
2       Crime TV Shows, International TV Shows, TV Act...
3                                  Docuseries, Reality TV
4       International TV Shows, Romantic TV Shows, TV ...
                              ...
8802                       Cult Movies, Dramas, Thrillers
8803               Kids' TV, Korean TV Shows, TV Comedies
8804                              Comedies, Horror Movies
8805                   Children & Family Movies, Comedies
8806       Dramas, International Movies, Music & Musicals
Name: listed_in, Length: 8807, dtype: object

In [11]:
df['listed_in'].str.contains(r'\w+,\s*\w+').sum()

6787

As we can see in the dataset, many movies and TV shows have multiple actors, directors, and countries associated with them. Similarly, each movie/TV show can be grouped into multiple genres. To analyze this data, we first need to split each column containing multiple values into separate rows to ensure accurate aggregation. This can be done by using the split method to split the columns, followed by the explode method to create a new row for each value. After this, we can use the groupby function to group the DataFrame by the desired column and perform aggregation. This process results in three separate datasets for 'cast', 'director', 'country' and 'genre'. These datasets can be exported as CSV files and imported into Tableau for visualization and analysis to gain insights into the most frequent actors, directors, and countries in the dataset.

In [12]:
def split_col(data, cols):
    for col in cols:
        data[col] = data[col].str.split(', ')
        data = data.explode(col)
    return data

In [ ]:
def split_col(data, cols):
    for col in cols:
        if data[col].isnull().all():
            continue  # Skip columns with only null values
        data[col] = data[col].str.split(', ')
        data = data.explode(col)
    return data

In [13]:
columns = ['cast', 'director', 'country', 'listed_in']

In [14]:
df_new = split_col(df, columns)

In [15]:
df_new.to_csv('reworked_dataset.csv', index=False)